llama-stack-client
llama_stack
aiosqlite
ollama
openai
datasets
opentelemetry-instrumentation
opentelemetry-exporter-prometheus
opentelemetry-exporter-otlp
faiss-cpu
mcp
autoevals
bwrap
PyPDF2>=3.0.0
pdf2image==1.17.0